body {

    margin: 0;
    background: #202124;
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {

    text-align: center;

}

video {

    width: 420px;
    height: 300px;
    background: black;
    border-radius: 10px;
    margin-bottom: 15px;

}

button {

    padding: 12px 25px;
    background: #1a73e8;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {

    background: #1558b0;

}

.info {

    color: #aaa;
    margin-top: 10px;

}